<nav class="bottom-nav" aria-label="Điều hướng chính">
  <a class="nav-item {{#if isBookingsSection}}active{{/if}}" href="/bookings{{branchQueryString}}">
    <span class="bottom-nav-icon" aria-hidden="true"><i class="fa-solid fa-calendar-check"></i></span>
    <span>Đặt bàn</span>
  </a>
  {{#if canCreateBooking}}
    <button class="fab" type="button" data-open-booking-popup aria-label="Tạo đặt bàn"><i class="fa-solid fa-plus" aria-hidden="true"></i></button>
  {{else}}
    <span class="fab disabled" aria-hidden="true"><i class="fa-solid fa-plus"></i></span>
  {{/if}}
  {{#if canManageCustomers}}
    <a class="nav-item {{#if isCustomersSection}}active{{/if}}" href="/customers{{branchQueryString}}">
      <span class="bottom-nav-icon" aria-hidden="true"><i class="fa-solid fa-address-book"></i></span>
      <span>Khách</span>
    </a>
  {{else}}
    <span class="nav-item disabled" aria-hidden="true">
      <span class="bottom-nav-icon"><i class="fa-solid fa-address-book"></i></span>
      <span>Khách</span>
    </span>
  {{/if}}
</nav>
